body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #cdbfaa;
}

h2 {
  color: #007bff;
}

#setup-container,
#game-container {
  margin-top: 50px;
  padding: 20px;
  background: #e2c69c;
  display: inline-block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background: #007bff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #3f70a4;
}

p {
  font-size: 18px;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background: #fff3cd;
  color: #3f70a4;
  text-align: center;
}

.rules-container {
  width: 90%;
  max-width: 400px;
  background: #fff3cd;
  padding: 15px;
  margin: 20px auto;
  border-left: 5px solid #ff9800;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.rules-container h2 {
  color: #ff5722;
  font-size: 20px;
}

.rules-container ul {
  padding-left: 20px;
}

.rules-container li {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
}

input {
  background-color: #fff3cd;
  border: transparent;
}

#timer {
  font-size: 20px;
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
